.App {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
}

.App-header {
  background-color: #181c24;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: calc(1vmin);
  padding-bottom: calc(1vmin);
  color: antiquewhite;
}

.Nav-link {
  color: antiquewhite;
}

.Nav-btn {
  background-color: #282c34;
  color: antiquewhite;
  border-radius: 4px 20px;
  min-width: 10%;
}
.Nav-btn:hover {
  background: #484c54;
}

.All-push-btn {
  background-color: #282c34;
  color: antiquewhite;
  border-radius: 4px 20px;
  min-width: 10%;
  float: right;
  margin-right: 4%;
}
.All-push-btn:hover {
  background: #484c54;
}

.Home-auth-btn {
  background-color: #282c34;
  color: antiquewhite;
  border-radius: 20px 4px;
  min-width: 10%;
  float: left;
  margin-left: 4%;
}
.Home-auth-btn:hover {
  background: #484c54;
}

.tableButton {
  background-color: #282c34;
  color: antiquewhite;
  border-radius: 4px 4px;
  min-width: auto;
}
.tableButton:hover {
  background: #484c54;
}

.workspace-up {
  margin-left: 4%;
  margin-right: 4%;
  padding-bottom: 4%;
  color: antiquewhite;
}

.Sort-btn {
  background-color: #282c34;
  color: antiquewhite;
  border-radius: 1px 20px;
}
.Sort-btn:hover {
  background: #484c54;
}

.table {
  background-color: #282c34;
  width: 100%;
  border: 1px solid #dddddd;
  border-collapse: collapse;
  color: antiquewhite;
}

.table th {
  font-weight: bold;
  padding: 5px;
  background-color: #282c34;
  border: 1px solid #dddddd;
}

.table td {
  border: 1px solid #dddddd;
  padding: 5px;
}
